:root {
  --main-background : #e7dbd9 ;
  --main-btn-color: #665f55;
  --main-text-color: rgb(236, 211, 185) ;
  --main-charcoal: #383230 ;
  --main-bamboo: #CF8E55 ;
  --main-secondary: #854621;
  --main-clay: #bfaea4;
  --main-footer-color: #696560a2;
}

body {
  background-color: var(--main-background);

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  transform: scale(1); /* You can adjust the scaling factor as needed */
  height: 100vh;
  overflow: hidden;
  text-align: center;
  z-index: 1;
}

.error-prompt {
  display: none;
  color: #000000; /* Black text color */
  text-align: center;
  padding: 10rem;
}

/* Media query for screens with a maximum width of 768px (typical for mobile devices) */
@media screen and (max-width: 768px) {
  .error-prompt {
    display: block; /* Display the error prompt */
    font-size: 18px; /* Adjust font size for smaller screens */
  }
  .App {
    display: none;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-button-bar {
  padding: 2px 0;
  text-align: center;
  position: absolute;
  z-index: -1;
  top: 55vh;
  bottom: 0;
  width: 100%;
}

.footer-container {
  width: 100%;
  margin-top: 1rem;
  margin: auto;
  padding: 0;
  text-align: center;
  align-items: center;
  position:absolute;
  bottom: 1rem;
  height: fit-content;
}

.footer {
  height: 5rem;
  padding-top: 0.2rem;
  border-radius: 16px;
  width: 90%;
  margin: auto;
  background: var(--main-footer-color);
  color: var(--main-text-color);
  font-family: montserrat;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5) ;
}

.react-tagsinput {
  width: 40vw;
  height: 30vh;
  margin: auto;
  background-color: var(--main-clay);
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3) ;
  max-height: 30vh;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 5px;
}

.react-tagsinput--focused {
border-color: #545251;
}

.react-tagsinput-tag {
background-color: var(--main-bamboo);
border-radius: 0.5rem;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) ;
color: #ffffff;
display: inline-block;
font-family: montserrat;
font-size: 1rem;
font-weight: 600;
margin-bottom: 5px;
margin-right: 5px;
padding: 5px;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: " ×";
}

.react-tagsinput-input {
  background: transparent;
  border: 1px solid;
  border-radius: 0.5rem;
  color: #777;
  font-family: montserrat;
  font-size: 1rem;
  font-weight: 400;
  margin: 0.5rem;
  padding: 5px;
  outline: none;
  width: fit-content;
  max-width: 20rem;
}
